<div class="index">
	<%= form_for [@workout, @exercise] do |f| %>
	  <div class="name">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>

	  <div class="actions">
	  	<%= f.submit 'Add new exercise', :class => 'btn'%>
	  </div>
	<% end %>
</div>